body,
html {
	margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image:linear-gradient(-90deg, #A4BCB1, #37B9E9);
    z-index:1;
    
	color: #fff;
	font: 1.125rem/1.4 'Muli', sans-serif;
	font-family: 'Merriweather', serif;
}

.resort::after {
    content: "*Not an actual resort but we like to think so!";
    font-size: 15px;
    color: white;
    display: block;
}

.resort:hover.resort::after {
    opacity: 1;
}
.holiday::after {
    content: "*Holiday rates apply at the discretion of YBF Care";
    font-size: 15px;
    color: white;
    display: block;
}

.holiday:hover.holiday::after {
    opacity: 1;
}



.lg-line-height {
    line-height: 2.5;
}

.md-line-height {
    line-height: 1.5;
}

@media (max-width: 767px) {
    .bg-white-50 {
        background-color: rgba(225, 225, 225, .3)
      }
    .resort::after {
        opacity: 1;
    }
    .holiday::after {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .resort::after {
    opacity: 0;
    }
    .holiday::after {
        opacity: 0;
        }
    .bg-white-50 {
        background-color: rgba(225, 225, 225, 0);
        transition: background-color .5s;
    }
    .bg-white-50:hover {
        background-color: rgba(225, 225, 225, .3);
    }

    .border-left{
        border-color: rgba(0, 0, 0, 0);
    }
    .border-top {
        border-top: 0 !important; }
}

.card img {
    background-color: white;
}
.card img:hover {
    opacity: .7;
}