body,
html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #9dcbeb;
	color: #fff;
	font: 1.125rem/1.4 'Muli', sans-serif;
	font-family: 'Merriweather', serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
}

#site-logo {
	font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin: 25px 0;
    padding: 0 12px;
    text-align: center;
    border: solid 2px transparent;
}

#site-logo:hover {
    border: solid 2px #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.navigation li a {
    display: block;
    height: 72px;
    line-height: 72px;
    text-decoration: none;
    color: #fff;
    padding: 0 25px;
}

.navigation li a:hover {
    color: rgba(52,53,54,.15);
}

.main {
    display: flex;
    margin-top: 30px;
}

.pictures {
    width: 100%;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.picture {
    padding: 15px;
    margin: 0 15px 15px 0;
    border: solid 1px #202020;
    border-radius: 3px;
    width: 360px;
}

.picture:hover {
    background-color: #202020;
}