<nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color: #8CBAE0;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <img src="https://dummyimage.com/30X30/01579B/fff" width="30" height="30" alt="">
        <a class="navbar-brand" href="#">Your Best Friend's Walks + Care</a>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-2 mt-lg-0">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">About Me</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Info</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Testimonials</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact</a>
            </li>
            
        </ul>
        </div>
    </div>
  </nav>